# Git ignore
# https://git-scm.com/docs/gitignore

# Private files
.env
.envrc

# Miscellaneous
*~
*#
.DS_STORE
Thumbs.db
.netbeans
nbproject
.node_history
.husky

# IDEs & Text Editors
.idea
.sublime-*
.netbeans
nbproject

# Temporary files
.tmp
.temp
.grunt
.lock-wscript

# Logs
/logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependencies
node_modules

# Build output
/cjs
/esm

# Test output
/.nyc_output
/coverage
